---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=Santa%20Fe,%20NM&open_at=1611059122&term=tacos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4973'
      X-Zipkin-Id:
      - 0e47d83610b0e86e
      Ratelimit-Resettime:
      - '2021-01-20T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--uswest2-5b584d59bc-kxh6p; site=public_api_v3
      X-Proxied:
      - 10-69-127-167-uswest2aprod
      X-Extlb:
      - 10-69-127-167-uswest2aprod
    body:
      encoding: UTF-8
      string: '{"businesses": [{"id": "czwIymAbU43ruuT1s9sqDQ", "alias": "pecos-trail-inn-santa-fe",
        "name": "Pecos Trail Inn", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/7TdhGY2E0tN7tekIDkqnKQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/pecos-trail-inn-santa-fe?adjust_creative=<YELP_CLIENT_ID>&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=<YELP_CLIENT_ID>",
        "review_count": 5, "categories": [{"alias": "hotels", "title": "Hotels"}],
        "rating": 5.0, "coordinates": {"latitude": 35.64805, "longitude": -105.93291},
        "transactions": [], "location": {"address1": "2239 Old Pecos Trl", "address2":
        "", "address3": "", "city": "Santa Fe", "zip_code": "87505", "country": "US",
        "state": "NM", "display_address": ["2239 Old Pecos Trl", "Santa Fe, NM 87505"]},
        "phone": "+15059821943", "display_phone": "(505) 982-1943", "distance": 5677.407326561814},
        {"id": "eIO9KmmWl5EPdTg_H2CEGA", "alias": "la-fonda-on-the-plaza-santa-fe",
        "name": "La Fonda On the Plaza", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/gp_QXj0hoof0dA5BY_ebiw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/la-fonda-on-the-plaza-santa-fe?adjust_creative=<YELP_CLIENT_ID>&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=<YELP_CLIENT_ID>",
        "review_count": 282, "categories": [{"alias": "hotels", "title": "Hotels"}],
        "rating": 4.0, "coordinates": {"latitude": 35.6864128112793, "longitude":
        -105.9375}, "transactions": [], "price": "$$$", "location": {"address1": "100
        E San Francisco St", "address2": "", "address3": "", "city": "Santa Fe", "zip_code":
        "87501", "country": "US", "state": "NM", "display_address": ["100 E San Francisco
        St", "Santa Fe, NM 87501"]}, "phone": "+15059825511", "display_phone": "(505)
        982-5511", "distance": 5533.130495819132}, {"id": "cklilIuR2jLxPEbbgUF_VA",
        "alias": "taco-cabana-albuquerque-11", "name": "Taco Cabana", "image_url":
        "https://s3-media2[...]
