---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/directions/v2/route?from=Seattle,%20WA&key=<MAP_KEY>&to=Pueblo,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Tue, 19 Jan 2021 18:33:42 GMT
      Status:
      - success
      Transactionweight:
      - '1'
    body:
      encoding: UTF-8
      string: '{"route":{"hasTollRoad":false,"hasBridge":true,"boundingBox":{"lr":{"lng":-104.605087,"lat":38.265427},"ul":{"lng":-122.330276,"lat":47.604027}},"distance":1444.3801,"hasTimedRestriction":false,"hasTunnel":true,"hasHighway":true,"computedWaypoints":[],"routeError":{"errorCode":-400,"message":""},"formattedTime":"20:00:06","sessionId":"60072606-00ef-5f21-02b4-3305-0612945562af","hasAccessRestriction":false,"realTime":81515,"hasSeasonalClosure":false,"hasCountryCross":false,"fuelUsed":76.08,"legs":[{"hasTollRoad":false,"hasBridge":true,"destNarrative":"Proceed
        to PUEBLO, CO.","distance":1444.3801,"hasTimedRestriction":false,"hasTunnel":true,"hasHighway":true,"index":0,"formattedTime":"20:00:06","origIndex":2,"hasAccessRestriction":false,"hasSeasonalClosure":false,"hasCountryCross":false,"roadGradeStrategy":[[]],"destIndex":8,"time":72006,"hasUnpaved":false,"origNarrative":"Go
        east on I-90 E.","maneuvers":[{"distance":0.104,"streets":["James St"],"narrative":"Start
        out going northeast on James St toward 5th Ave.","turnType":0,"startPoint":{"lng":-122.330276,"lat":47.60323},"index":0,"formattedTime":"00:00:18","directionName":"Northeast","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAP_KEY>&size=225,160&locations=47.60322952270508,-122.33027648925781|marker-1||47.604026794433594,-122.3283920288086|marker-2||&center=47.603628158569336,-122.3293342590332&defaultMarker=none&zoom=14&rand=-448456715&session=60072606-00ef-5f21-02b4-3305-0612945562af","transportMode":"AUTO","attributes":0,"time":18,"iconUrl":"http://content.mqcdn.com/mqsite/turnsigns/icon-dirs-start_sm.gif","direction":3},{"distance":0.095,"streets":["6th
        Ave"],"narrative":"Turn right onto 6th Ave.","turnType":2,"startPoint":{"lng":-122.328392,"lat":47.604027},"index":1,"formattedTime":"00:00:17","directionName":"Southeast","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAP_KEY>&size=225,160&locations=47.604026794433594,-122.3283920288086|marker-2||47.603111267089844,-122.3271255493164|marker-3||&center=47.60356903076172,-122.3277587890625&defaultMarker=none&zoom=14&rand=-448456715&session=60072606-00ef-5f21-02b4-3305-0612945562af","transportMode":"AUTO","attributes":0,"time":17,"iconUrl":"http://content.mqcdn.com/mqsite/turnsigns/rs_right_sm.gif","direction":5},{"distance":108.692,"streets":["I-90
        E"],"narrative":"Merge onto I-90 E toward Portland/Spokane/Bellevue/Tacoma.","turnType":10,"startPoint":{"lng":-122.327126,"lat":47.603111},"index":2,"formattedTime":"01:37:21","directionName":"East","maneuverNotes":[],"linkIds":[],"signs":[{"extraText":"","text":"90","type":1,"url":"http://icons.mqcdn.com/icons/rs1.png?n=90&d=EAST","direction":8}],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAP_KEY>&size=225,160&locations=47.603111267089844,-122.3271255493164|marker-3||46.97019958496094,-120.52088165283203|marker-4||&center=47.28665542602539,-121.42400360107422&defaultMarker=none&zoom=4&rand=-448456715&session=60072606-00ef-5f21-02b4-3305-0612945562af","transportMode":"AUTO","attributes":3200,"time":5841,"iconUrl":"http://content.mqcdn.com/mqsite/turnsigns/r[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_KEY>&lat=38.265427&lon=-104.610413
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6104,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1611081222,"sunrise":1611065519,"sunset":1611101172,"temp":273.08,"feels_like":268.76,"pressure":1032,"humidity":74,"dew_point":269.47,"uvi":2.19,"clouds":1,"visibility":10000,"wind_speed":2.57,"wind_deg":210,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":0.25}},"hourly":[{"dt":1611079200,"temp":273.08,"feels_like":269.69,"pressure":1032,"humidity":74,"dew_point":269.47,"uvi":1.8,"clouds":1,"visibility":10000,"wind_speed":1.25,"wind_deg":276,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0.33},{"dt":1611082800,"temp":272.93,"feels_like":269.76,"pressure":1032,"humidity":82,"dew_point":270.55,"uvi":2.19,"clouds":49,"visibility":10000,"wind_speed":1.13,"wind_deg":199,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0.08},{"dt":1611086400,"temp":273.65,"feels_like":269.99,"pressure":1031,"humidity":84,"dew_point":271.48,"uvi":1.95,"clouds":49,"visibility":10000,"wind_speed":2.02,"wind_deg":182,"weather":[{"id":802,"main":"Clouds","d[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=Pueblo,%20CO&open_at=1611059122&term=tacos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4972'
      X-Zipkin-Id:
      - 24fde743d19787a2
      Ratelimit-Resettime:
      - '2021-01-20T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--uswest2-5b584d59bc-vz66l; site=public_api_v3
      X-Proxied:
      - 10-69-128-115-uswest2bprod
      X-Extlb:
      - 10-69-128-115-uswest2bprod
    body:
      encoding: UTF-8
      string: '{"businesses": [{"id": "3Edd-08gz7auXvqqM-4Dwg", "alias": "vazquez-taco-shop-pueblo",
        "name": "Vazquez Taco Shop", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/lyudLzs92SPt-UFVDqd1rA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/vazquez-taco-shop-pueblo?adjust_creative=<YELP_CLIENT_ID>&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=<YELP_CLIENT_ID>",
        "review_count": 33, "categories": [{"alias": "mexican", "title": "Mexican"}],
        "rating": 4.5, "coordinates": {"latitude": 38.2707358, "longitude": -104.599503},
        "transactions": ["delivery"], "price": "$", "location": {"address1": "604
        E 4th St", "address2": null, "address3": null, "city": "Pueblo", "zip_code":
        "81001", "country": "US", "state": "CO", "display_address": ["604 E 4th St",
        "Pueblo, CO 81001"]}, "phone": "+17195462186", "display_phone": "(719) 546-2186",
        "distance": 2284.522971886835}, {"id": "i0uPdJ-Gv153FQNes5p6UQ", "alias":
        "taco-stop-pueblo-2", "name": "Taco Stop", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/-zp5FDCKnn7Sm2X04uKxSg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/taco-stop-pueblo-2?adjust_creative=<YELP_CLIENT_ID>&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=<YELP_CLIENT_ID>",
        "review_count": 39, "categories": [{"alias": "mexican[...]
