---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=<DONT_USE_MY_API_KEY>&location=Seattle,%20WA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 17 Jan 2021 18:34:56 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Seattle,
        WA"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Seattle","adminArea5Type":"City","adminArea4":"King
        County","adminArea4Type":"County","adminArea3":"WA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039223","unknownInput":"","type":"s","latLng":{"lat":47.603229,"lng":-122.33028},"displayLatLng":{"lat":47.603229,"lng":-122.33028},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<DONT_USE_MY_API_KEY>&type=map&size=225,160&locations=47.603229,-122.33028|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1720538997"}]}]}'
  recorded_at: Sun, 17 Jan 2021 18:34:56 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<DONT_USE_MY_API_KEY>&lat=47.603229&lon=-122.33028
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":47.6032,"lon":-122.3303,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1610908496,"sunrise":1610898661,"sunset":1610930861,"temp":281.42,"feels_like":279.69,"pressure":1031,"humidity":93,"dew_point":280.36,"uvi":0.82,"clouds":90,"visibility":10000,"wind_speed":1.54,"wind_deg":180,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"minutely":[{"dt":1610908500,"precipitation":0},{"dt":1610908560,"precipitation":0},{"dt":1610908620,"precipitation":0},{"dt":1610908680,"precipitation":0},{"dt":1610908740,"precipitation":0},{"dt":1610908800,"precipitation":0},{"dt":1610908860,"precipitation":0},{"dt":1610908920,"precipitation":0},{"dt":1610908980,"precipitation":0},{"dt":1610909040,"precipitation":0},{"dt":1610909100,"precipitation":0},{"dt":1610909160,"precipitation":0},{"dt":1610909220,"precipitation":0},{"dt":1610909280,"precipitation":0},{"dt":1610909340,"precipitati[...]
