---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=<DONT_USE_MY_API_KEY>&location=Seattle,%20WA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 17 Jan 2021 00:29:27 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Seattle,
        WA"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Seattle","adminArea5Type":"City","adminArea4":"King
        County","adminArea4Type":"County","adminArea3":"WA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039223","unknownInput":"","type":"s","latLng":{"lat":47.603229,"lng":-122.33028},"displayLatLng":{"lat":47.603229,"lng":-122.33028},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<DONT_USE_MY_API_KEY>&type=map&size=225,160&locations=47.603229,-122.33028|marker-sm-50318A-1&scalebar=true&zoom=12&rand=394182339"}]}]}'
  recorded_at: Sun, 17 Jan 2021 00:29:27 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=eedae6eae485c3b26bded9635d9ac2a1&lat=47.603229&lon=-122.33028
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":47.6032,"lon":-122.3303,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1610843367,"sunrise":1610812305,"sunset":1610844377,"temp":280.25,"feels_like":278.15,"pressure":1029,"humidity":76,"dew_point":276.31,"uvi":0,"clouds":75,"visibility":10000,"wind_speed":0.9,"wind_deg":75,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1610843400,"precipitation":0},{"dt":1610843460,"precipitation":0},{"dt":1610843520,"precipitation":0},{"dt":1610843580,"precipitation":0},{"dt":1610843640,"precipitation":0},{"dt":1610843700,"precipitation":0},{"dt":1610843760,"precipitation":0},{"dt":1610843820,"precipitation":0},{"dt":1610843880,"precipitation":0},{"dt":1610843940,"precipitation":0},{"dt":1610844000,"precipitation":0},{"dt":1610844060,"precipitation":0},{"dt":1610844120,"precipitation":0},{"dt":1610844180,"precipitation":0},{"dt":1610844240,"precipitati[...]
