---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/directions/v2/route?from=Des%20Moines,%20IA&key=<MAP_KEY>&to=San%20Antonio,%20TX
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Tue, 19 Jan 2021 00:53:18 GMT
      Status:
      - success
      Transactionweight:
      - '1'
    body:
      encoding: UTF-8
      string: '{"route":{"hasTollRoad":true,"hasBridge":true,"boundingBox":{"lr":{"lng":-93.619759,"lat":29.422466},"ul":{"lng":-98.494598,"lat":41.595436}},"distance":1006.2261,"hasTimedRestriction":false,"hasTunnel":false,"hasHighway":true,"computedWaypoints":[],"routeError":{"errorCode":-400,"message":""},"formattedTime":"14:29:23","sessionId":"60062d7e-032b-5f21-02b4-3332-02f8ddb7cd0f","hasAccessRestriction":false,"realTime":10000000,"hasSeasonalClosure":false,"hasCountryCross":false,"fuelUsed":50.68,"legs":[{"hasTollRoad":true,"hasBridge":true,"destNarrative":"Proceed
        to SAN ANTONIO, TX.","distance":1006.2261,"hasTimedRestriction":false,"hasTunnel":false,"hasHighway":true,"index":0,"formattedTime":"14:29:23","origIndex":1,"hasAccessRestriction":false,"hasSeasonalClosure":false,"hasCountryCross":false,"roadGradeStrategy":[[]],"destIndex":14,"time":52163,"hasUnpaved":false,"origNarrative":"Go
        west on I-235 W.","maneuvers":[{"distance":0.461,"streets":["2nd Ave"],"narrative":"Start
        out going north on 2nd Ave toward Watson Powell Jr Way.","turnType":0,"startPoint":{"lng":-93.620308,"lat":41.588821},"index":0,"formattedTime":"00:00:59","directionName":"North","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAP_KEY>&size=225,160&locations=41.58882141113281,-93.62030792236328|marker-1||41.595436096191406,-93.61975860595703|marker-2||&center=41.59212875366211,-93.62003326416016&defaultMarker=none&zoom=10&rand=-232142172&session=60062d7e-032b-5f21-02b4-3332-02f8ddb7cd0f","transportMode":"AUTO","attributes":0,"time":59,"iconUrl":"http://content.mqcdn.com/mqsite/turnsigns/icon-dirs-start_sm.gif","direction":1},{"distance":8.27,"streets":["I-235
        W"],"narrative":"Merge onto I-235 W via the ramp on the left.","turnType":11,"startPoint":{"lng":-93.619759,"lat":41.595436},"index":1,"formattedTime":"00:08:51","directionName":"West","maneuverNotes":[],"linkIds":[],"signs":[{"extraText":"","text":"235","type":1,"url":"http://icons.mqcdn.com/icons/rs1.png?n=235&d=WEST","direction":7}],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAP_KEY>&size=225,160&locations=41.595436096191406,-93.61975860595703|marker-2||41.592315673828125,-93.77752685546875|marker-3||&center=41.593875885009766,-93.69864273071289&defaultMarker=none&zoom=7&rand=-232142172&session=60062d7e-032b-5f21-02b4-3332-02f8ddb7cd0f","transportMode":"AUTO","attributes":1152,"time":531,"iconUrl":"http://content.mqcdn.com/mqsite/turnsigns/r[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_KEY>&lat=29.425169&lon=-98.494598
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":29.4252,"lon":-98.4946,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1611017599,"sunrise":1610976522,"sunset":1611014395,"temp":294.64,"feels_like":291.87,"pressure":1011,"humidity":53,"dew_point":284.67,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":4.63,"wind_deg":140,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"minutely":[{"dt":1611017640,"precipitation":0},{"dt":1611017700,"precipitation":0},{"dt":1611017760,"precipitation":0},{"dt":1611017820,"precipitation":0},{"dt":1611017880,"precipitation":0},{"dt":1611017940,"precipitation":0},{"dt":1611018000,"precipitation":0},{"dt":1611018060,"precipitation":0},{"dt":1611018120,"precipitation":0},{"dt":1611018180,"precipitation":0},{"dt":1611018240,"precipitation":0},{"dt":1611018300,"precipitation":0},{"dt":1611018360,"precipitation":0},{"dt":1611018420,"precipitation":0},{"dt":1611018480,"precipitati[...]
