---
http_interactions:
- request:
    method: get
    uri: https://pixabay.com/api/?image_type=photo&key=<DONT_USE_MY_API_KEY>&q=San%20Francisco,%20CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Reset:
      - '0.5765221277872722'
      Allow:
      - GET, OPTIONS, POST
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"total":3,"totalHits":3,"hits":[{"id":823229,"pageURL":"https://pixabay.com/photos/speedboat-water-boat-ocean-speed-823229/","type":"photo","tags":"speedboat,
        water, boat","previewURL":"https://cdn.pixabay.com/photo/2015/06/27/03/34/speedboat-823229_150.jpg","previewWidth":150,"previewHeight":65,"webformatURL":"https://pixabay.com/get/5ee2d641485bb10ff3d8992cc6213e7f1036dbed4e50774875267bdc9344c0_640.jpg","webformatWidth":640,"webformatHeight":281,"largeImageURL":"https://pixabay.com/get/5ee2d641485bb108f5d0846096293e77143ad7e05b4c704f742f72d49f49cc5d_1280.jpg","imageWidth":4928,"imageHeight":2171,"imageSize":1912765,"views":3312,"downloads":869,"favorites":1,"likes":4,"comments":0,"user_id":952081,"user":"eyeImage","userImageURL":"https://cdn.pixabay.com/user/2018/10/31/21-31-37-321_250x250.png"},{"id":3864320,"pageURL":"https://pixabay.com/photos/alameda-ca-skyline-air-pollution-3864320/","type":"photo","tags":"alameda,
        ca, skyline","previewURL":"https://cdn.pixabay.com/photo/2018/12/09/03/48/alameda-3864320_150.jpg","previewWidth":150,"previewHeight":112,"webformatURL":"https://pixabay.com/get/55e8d3474950ac14f1dc846096293e77143ad7e05b4c704f742f72d49f49cc5d_640.jpg","webformatWidth":640,"webformatHeight":480,"l[...]
