---
http_interactions:
- request:
    method: get
    uri: https://pixabay.com/api/?image_type=photo&key=<IMAGE_KEY>&q=San%20Francisco,%20CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Reset:
      - '0.5528353747901497'
      Allow:
      - OPTIONS, POST, GET
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"total":3,"totalHits":3,"hits":[{"id":3864320,"pageURL":"https://pixabay.com/photos/alameda-ca-skyline-air-pollution-3864320/","type":"photo","tags":"alameda,
        ca, skyline","previewURL":"https://cdn.pixabay.com/photo/2018/12/09/03/48/alameda-3864320_150.jpg","previewWidth":150,"previewHeight":112,"webformatURL":"https://pixabay.com/get/55e8d3474950ac14f1dc846096293e77143ad7e05b4c704f742f72d7974dcd50_640.jpg","webformatWidth":640,"webformatHeight":480,"largeImageURL":"https://pixabay.com/get/55e8d3474950ac14f6da8c7dda7936771c3edbec56596c48732e7bdd944dc550b0_1280.jpg","imageWidth":4608,"imageHeight":3456,"imageSize":3567553,"views":1564,"downloads":1216,"favorites":1,"likes":1,"comments":0,"user_id":10692069,"user":"sueegeneris","userImageURL":"https://cdn.pixabay.com/user/2018/12/09/04-43-03-766_250x250.jpg"},{"id":823229,"pageURL":"https://pixabay.com/photos/speedboat-water-boat-ocean-speed-823229/","type":"photo","tags":"speedboat,
        water, boat","previewURL":"https://cdn.pixabay.com/photo/2015/06/27/03/34/speedboat-823229_150.jpg","previewWidth":150,"previewHeight":65,"webformatURL":"https://pixabay.com/get/5ee2d641485bb10ff3d8992cc6213e7f1036dbed4e507748752678d49745cd_640.jpg","webformatWidth":640,"webformatHeight":281,"lar[...]
