---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?query=San%20Francisco,%20CA%20city
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID r9Yzfl_aEa2veOqIycx5tuti2j_91mtgTmonfBWk9Qw
      Accept-Version:
      - v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?page=1000&query=San+Francisco%2C+CA+city>;
        rel="last", <https://api.unsplash.com/search/photos?page=2&query=San+Francisco%2C+CA+city>;
        rel="next"
      X-Total:
      - '10000'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '45'
    body:
      encoding: UTF-8
      string: '{"total":10000,"total_pages":1000,"results":[{"id":"xrgF6awqCIU","created_at":"2020-01-24T03:09:16-05:00","updated_at":"2021-01-19T10:12:48-05:00","promoted_at":null,"width":4459,"height":3225,"color":"#a6a6a6","blur_hash":"LJD04OSj%1S5.TXT%LNGtSR*IpjZ","description":"Cluster.\n\nMy
        favorite *discovered* spot in my new city.\n\n4 stack hdr.","alt_description":"city
        buildings under cloudy sky during daytime","urls":{"raw":"https://images.unsplash.com/photo-1579852915565-3e7ca937ade9?ixid=MXwxOTkxNzJ8MHwxfHNlYXJjaHwxfHxTYW4lMjBGcmFuY2lzY28sJTIwQ0ElMjBjaXR5fGVufDB8fHw\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1579852915565-3e7ca937ade9?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MXwxOTkxNzJ8MHwxfHNlYXJjaHwxfHxTYW4lMjBGcmFuY2lzY28sJTIwQ0ElMjBjaXR5fGVufDB8fHw\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1579852915565-3e7ca937ade9?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwxOTkxNzJ8MHwxfHNlYXJjaHwxfHxTYW4lMjBGcmFuY2lzY28sJTIwQ0ElMjBjaXR5fGVufDB8fHw\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1579852915565-3e7ca937ade9?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwxOTkxNzJ8MHwxfHNlYXJjaHwxfHxTYW4lMjBGcmFuY2lzY28sJTIwQ0ElMjBjaXR5fGVufDB8fHw\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1579852915565-3e7ca937ade9?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwxOTkxNzJ8MHwxfHNlYXJjaHwxfHxTYW4lMjBGcmFuY2lzY28sJTIwQ0ElMjBjaXR5fGVufDB8fHw\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/xrgF6awqCIU","html":"https://unsplash.com/photos/xrgF6awqCIU","download":"https://unsplash.com/photos/xrgF6awqCIU/download","download_location":"https://api.unsplash.com/photos/xrgF6awqCIU/download"},"categories":[],"likes":38,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"16cnoCBxB60","updated_at":"2021-01-19T05:01:20-05:00","username":"pixelactivist","name":"Corbin
        Bell","first_name":"Corbin","last_name":"Bell","twitter_username":"pixelactivist","portfolio_url":"https://pixelactiv.ist","bio":"Ello!
        I''m Corbin\r\nDigital Artist – Designer — Photographer – Ex-Gig worker #CryptoArt
        #NFT Ξ on @Knownorigin_io Contributor @sanfranciscan__ #BLM Available for
        full-time, freelance and commissions","location":"San Francisco","links":{"self":"https://api.unsplash.com/users/pixelactivist","html":"https://unsplash.com/@pixelactivist","photos":"https://api.unsplash.com/users/pixelactivist/photos","likes":"https://api.unsplash.com/users/pixelactivist/likes","portfolio":"https://api.unsplash.com/users/pixelactivist/portfolio","following":"https://api.unsplash.com/users/pixelactivist/following","followers":"https://api.unsplash.com/users/pixelactivist/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1607977905877-5d47f084ff72image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1607977905877-5d47f084ff72image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1607977905877-5d47f084ff72image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"pixel_activist","total_collections":1,"total_likes":42,"total_photos":24,"accepted_tos":true},"tags":[{"type":"landing_page","title":"city","source":{"ancestry":{"type":{"slug":"wallpapers","pretty_slug":"HD
        Wallpapers"},"category":{"slug":"travel","pretty_slug":"Travel"},"subcategory":{"slug":"city","pretty_slug":"City"}},"title":"HD
        City Wallpapers","subtitle":"Download Free City Wallpapers","description":"Choose
        from a curated selection of city wallpapers for your mobile and desktop screens.
        Always free on Unsplash.","meta_title":"City Wallpapers: Free HD Download
        [500+ HQ] | Unsplash","meta_description":"Choose from hundreds of free city
        wallpapers. Download HD wallpapers for free on Unsplash.","cover_photo":{"id":"Nyvq2juw4_o","created_at":"2016-10-31T20:26:28-04:00","updated_at":"2021-01-19T10:01:10-05:00","promoted_at":"2016-10-31T20:26:28-04:00","width":3465,"height":2131,"color":"#0c2640","blur_hash":"LhEMa,W=WVWW_4kBjtW=?bkBaefR","description":"City
        architecture and skyscrapers near waterfront","alt_description":"white and
        brown city buildings during daytime","urls":{"raw":"https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1","full":"https://images.unspl[...]
