---
http_interactions:
- request:
    method: get
    uri: https://pixabay.com/api/?image_type=photo&key=<DONT_USE_MY_API_KEY>&q=!@
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '4977'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Reset:
      - '0.5766583961768053'
      Allow:
      - GET, OPTIONS, POST
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"total":0,"totalHits":0,"hits":[]}'
  recorded_at: Sun, 17 Jan 2021 18:34:56 GMT
recorded_with: VCR 6.0.0
