---
http_interactions:
- request:
    method: get
    uri: https://pixabay.com/api/?image_type=photo&key=<DONT_USE_MY_API_KEY>&q=Denver,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '4978'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Reset:
      - '0.5765826869235984'
      Allow:
      - GET, POST, OPTIONS
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"total":0,"totalHits":0,"hits":[]}'
  recorded_at: Sun, 17 Jan 2021 18:34:55 GMT
recorded_with: VCR 6.0.0
