---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=<DONT_USE_MY_API_KEY>&location=Seattle,%20WA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 16 Jan 2021 00:15:24 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Seattle,
        WA"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Seattle","adminArea5Type":"City","adminArea4":"King
        County","adminArea4Type":"County","adminArea3":"WA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039223","unknownInput":"","type":"s","latLng":{"lat":47.603229,"lng":-122.33028},"displayLatLng":{"lat":47.603229,"lng":-122.33028},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<DONT_USE_MY_API_KEY>&type=map&size=225,160&locations=47.603229,-122.33028|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-545058845"}]}]}'
  recorded_at: Sat, 16 Jan 2021 00:15:24 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=eedae6eae485c3b26bded9635d9ac2a1&lat=47.603229&lon=-122.33028
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":47.6032,"lon":-122.3303,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1610756125,"sunrise":1610725947,"sunset":1610757894,"temp":283.19,"feels_like":281.34,"pressure":1030,"humidity":71,"dew_point":278.18,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":1.04,"wind_deg":31,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"minutely":[{"dt":1610756160,"precipitation":0},{"dt":1610756220,"precipitation":0},{"dt":1610756280,"precipitation":0},{"dt":1610756340,"precipitation":0},{"dt":1610756400,"precipitation":0},{"dt":1610756460,"precipitation":0},{"dt":1610756520,"precipitation":0},{"dt":1610756580,"precipitation":0},{"dt":1610756640,"precipitation":0},{"dt":1610756700,"precipitation":0},{"dt":1610756760,"precipitation":0},{"dt":1610756820,"precipitation":0},{"dt":1610756880,"precipitation":0},{"dt":1610756940,"precipitation":0},{"dt":1610757000,"precipitati[...]
