---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/directions/v2/route?from=New%20York,%20NY&key=<MAP_KEY>&to=Los%20Angeles,%20CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Mon, 18 Jan 2021 23:43:11 GMT
      Status:
      - success
      Transactionweight:
      - '1'
    body:
      encoding: UTF-8
      string: '{"route":{"hasTollRoad":true,"hasBridge":true,"boundingBox":{"lr":{"lng":-74.004807,"lat":34.052238},"ul":{"lng":-118.244423,"lat":41.596916}},"distance":2794.3513,"hasTimedRestriction":false,"hasTunnel":true,"hasHighway":true,"computedWaypoints":[],"routeError":{"errorCode":-400,"message":""},"formattedTime":"40:34:31","sessionId":"60061d0e-0328-5f21-02b4-3355-063708275551","hasAccessRestriction":false,"realTime":156052,"hasSeasonalClosure":false,"hasCountryCross":false,"fuelUsed":140.85,"legs":[{"hasTollRoad":true,"hasBridge":true,"destNarrative":"Proceed
        to LOS ANGELES, CA.","distance":2794.3513,"hasTimedRestriction":false,"hasTunnel":true,"hasHighway":true,"index":0,"formattedTime":"40:34:31","origIndex":5,"hasAccessRestriction":false,"hasSeasonalClosure":false,"hasCountryCross":false,"roadGradeStrategy":[[]],"destIndex":27,"time":146071,"hasUnpaved":false,"origNarrative":"Go
        west on I-78 W (Crossing into New Jersey).","maneuvers":[{"distance":0.043,"streets":["Broadway"],"narrative":"Start
        out going southwest on Broadway toward Murray St.","turnType":0,"startPoint":{"lng":-74.007225,"lat":40.713055},"index":0,"formattedTime":"00:00:08","directionName":"Southwest","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAP_KEY>&size=225,160&locations=40.71305465698242,-74.0072250366211|marker-1||40.7125358581543,-74.00767517089844|marker-2||&center=40.71279525756836,-74.00745010375977&defaultMarker=none&zoom=15&rand=-1607889500&session=60061d0e-0328-5f21-02b4-3355-063708275551","transportMode":"AUTO","attributes":0,"time":8,"iconUrl":"http://content.mqcdn.com/mqsite/turnsigns/icon-dirs-start_sm.gif","direction":6},{"distance":0.098,"streets":["Park
        Pl"],"narrative":"Turn right onto Park Pl.","turnType":2,"startPoint":{"lng":-74.007675,"lat":40.712536},"index":1,"formattedTime":"00:00:17","directionName":"Northwest","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAP_KEY>&size=225,160&locations=40.7125358581543,-74.00767517089844|marker-2||40.71326446533203,-74.00926208496094|marker-3||&center=40.712900161743164,-74.00846862792969&defaultMark[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_KEY>&lat=34.052238&lon=-118.243347
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":34.0522,"lon":-118.2437,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1611013368,"sunrise":1610981834,"sunset":1611018564,"temp":296.81,"feels_like":292.87,"pressure":1007,"humidity":17,"dew_point":270.67,"uvi":0.24,"clouds":1,"visibility":10000,"wind_speed":2.25,"wind_deg":241,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1611013380,"precipitation":0},{"dt":1611013440,"precipitation":0},{"dt":1611013500,"precipitation":0},{"dt":1611013560,"precipitation":0},{"dt":1611013620,"precipitation":0},{"dt":1611013680,"precipitation":0},{"dt":1611013740,"precipitation":0},{"dt":1611013800,"precipitation":0},{"dt":1611013860,"precipitation":0},{"dt":1611013920,"precipitation":0},{"dt":1611013980,"precipitation":0},{"dt":1611014040,"precipitation":0},{"dt":1611014100,"precipitation":0},{"dt":1611014160,"precipitation":0},{"dt":1611014220,"precipitati[...]
