---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?query=sjklj132%20city
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID r9Yzfl_aEa2veOqIycx5tuti2j_91mtgTmonfBWk9Qw
      Accept-Version:
      - v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?page=1000&query=sjklj132+city>; rel="last",
        <https://api.unsplash.com/search/photos?page=2&query=sjklj132+city>; rel="next"
      X-Total:
      - '10000'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '46'
    body:
      encoding: UTF-8
      string: '{"total":10000,"total_pages":1000,"results":[{"id":"m-7atFluQvU","created_at":"2019-04-30T07:10:00-04:00","updated_at":"2021-01-19T21:07:22-05:00","promoted_at":"2019-05-03T04:53:33-04:00","width":3352,"height":4190,"color":"#262626","blur_hash":"LGAcoDIp0L%2^*NGE1%1-pNGM{xa","description":"Merchant''s
        Arch, Dublin","alt_description":"empty pavement","urls":{"raw":"https://images.unsplash.com/photo-1556622585-eaec391201e2?ixid=MXwxOTkxNzJ8MHwxfHNlYXJjaHwxfHxzamtsajEzMiUyMGNpdHl8ZW58MHx8fA\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1556622585-eaec391201e2?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MXwxOTkxNzJ8MHwxfHNlYXJjaHwxfHxzamtsajEzMiUyMGNpdHl8ZW58MHx8fA\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1556622585-eaec391201e2?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwxOTkxNzJ8MHwxfHNlYXJjaHwxfHxzamtsajEzMiUyMGNpdHl8ZW58MHx8fA\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1556622585-eaec391201e2?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwxOTkxNzJ8MHwxfHNlYXJjaHwxfHxzamtsajEzMiUyMGNpdHl8ZW58MHx8fA\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1556622585-eaec391201e2?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwxOTkxNzJ8MHwxfHNlYXJjaHwxfHxzamtsajEzMiUyMGNpdHl8ZW58MHx8fA\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/m-7atFluQvU","html":"https://unsplash.com/photos/m-7atFluQvU","download":"https://unsplash.com/photos/m-7atFluQvU/download","download_location":"https://api.unsplash.com/photos/m-7atFluQvU/download"},"categories":[],"likes":144,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"oWQ1i7Mvda0","updated_at":"2021-01-19T09:41:40-05:00","username":"jordanharrison","name":"Jordan
        Harrison","first_name":"Jordan","last_name":"Harrison","twitter_username":"Aligns","portfolio_url":"https://jordanharrison.ie","bio":"26
        year old website designer and photographer based in Co Laois, Ireland. Available
        for commission in UK \u0026 Ireland. Instagram: @jordanharrison.ie","location":"Ireland","links":{"self":"https://api.unsplash.com/users/jordanharrison","html":"https://unsplash.com/@jordanharrison","photos":"https://api.unsplash.com/users/jordanharrison/photos","likes":"https://api.unsplash.com/users/jordanharrison/likes","portfolio":"https://api.unsplash.com/users/jordanharrison/portfolio","following":"https://api.unsplash.com/users/jordanharrison/following","followers":"https://api.unsplash.com/users/jordanharrison/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1554191663026-aded8901f970?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1554191663026-aded8901f970?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1554191663026-aded8901f970?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"jordanharrison.ie","total_collections":0,"total_likes":12,"total_photos":13,"accepted_tos":true},"tags":[{"type":"search","title":"building"},{"type":"landing_page","title":"city","source":{"ancestry":{"type":{"slug":"wallpapers","pretty_slug":"HD
        Wallpapers"},"category":{"slug":"travel","pretty_slug":"Travel"},"subcategory":{"slug":"city","pretty_slug":"City"}},"title":"HD
        City Wallpapers","subtitle":"Download Free City Wallpapers","description":"Choose
        from a curated selection of city wallpapers for your mobile and desktop screens.
        Always free on Unsplash.","meta_title":"City Wallpapers: Free HD Download
        [500+ HQ] | Unsplash","meta_description":"Choose from hundreds of free city
        wallpapers. Download HD wallpapers for free on Unsplash.","cover_photo":{"id":"Nyvq2juw4_o","created_at":"2016-10-31T20:26:28-04:00","updated_at":"2021-01-19T10:01:10-05:00","promoted_at":"2016-10-31T20:26:28-04:00","width":3465,"height":2131,"color":"#0c2640","blur_hash":"LhEMa,W=WVWW_4kBjtW=?bkBaefR","description":"City
        architecture and skyscrapers near waterfront","alt_description":"white and
        brown city buildings during daytime","urls":{"raw":"https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1","full":"https://images.unspl[...]
