---
http_interactions:
- request:
    method: get
    uri: https://pixabay.com/api/?image_type=photo&key=<IMAGE_KEY>&q=Seattle,%20WA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Reset:
      - '0.5527759249298236'
      Allow:
      - GET, OPTIONS, POST
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"total":5,"totalHits":5,"hits":[{"id":2426307,"pageURL":"https://pixabay.com/photos/seattle-sunset-marina-harbor-sky-2426307/","type":"photo","tags":"seattle,
        sunset, marina","previewURL":"https://cdn.pixabay.com/photo/2017/06/21/07/27/seattle-2426307_150.jpg","previewWidth":150,"previewHeight":99,"webformatURL":"https://pixabay.com/get/54e4d7454952ab14f1dc846096293e77143ad7e05b4c704f742f72d7974dcc58_640.jpg","webformatWidth":640,"webformatHeight":426,"largeImageURL":"https://pixabay.com/get/54e4d7454952ab14f6da8c7dda7936771c3edbec56596c48732e7bdd944dc551b8_1280.jpg","imageWidth":5964,"imageHeight":3978,"imageSize":10491901,"views":9877,"downloads":5181,"favorites":37,"likes":45,"comments":0,"user_id":5496829,"user":"InfiniteThought","userImageURL":"https://cdn.pixabay.com/user/2017/06/04/03-00-59-617_250x250.jpg"},{"id":701813,"pageURL":"https://pixabay.com/photos/float-plane-lake-union-seattle-wa-701813/","type":"photo","tags":"float
        plane, lake union, seattle wa","previewURL":"https://cdn.pixabay.com/photo/2015/04/01/00/56/float-plane-701813_150.jpg","previewWidth":150,"previewHeight":100,"webformatURL":"https://pixabay.com/get/51e0d44b4b51b10ff3d8992cc6213e7f1036dbed4e507748752678d49744c5_640.jpg","webformatWidth":640,"webforma[...]
