---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/directions/v2/route?from=Seattle,%20WA&key=<MAP_KEY>&to=Denver,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Mon, 18 Jan 2021 22:55:59 GMT
      Status:
      - success
      Transactionweight:
      - '1'
    body:
      encoding: UTF-8
      string: '{"route":{"hasTollRoad":false,"hasBridge":true,"boundingBox":{"lr":{"lng":-104.858307,"lat":39.738453},"ul":{"lng":-122.330276,"lat":47.604027}},"distance":1332.2251,"hasTimedRestriction":false,"hasTunnel":true,"hasHighway":true,"computedWaypoints":[],"routeError":{"errorCode":-400,"message":""},"formattedTime":"18:22:43","sessionId":"600611ff-02d1-5f21-02b4-3305-0612945562af","hasAccessRestriction":false,"realTime":76195,"hasSeasonalClosure":false,"hasCountryCross":false,"fuelUsed":70.66,"legs":[{"hasTollRoad":false,"hasBridge":true,"destNarrative":"Proceed
        to DENVER, CO.","distance":1332.2251,"hasTimedRestriction":false,"hasTunnel":true,"hasHighway":true,"index":0,"formattedTime":"18:22:43","origIndex":2,"hasAccessRestriction":false,"hasSeasonalClosure":false,"hasCountryCross":false,"roadGradeStrategy":[[]],"destIndex":8,"time":66163,"hasUnpaved":false,"origNarrative":"Go
        east on I-90 E.","maneuvers":[{"distance":0.104,"streets":["James St"],"narrative":"Start
        out going northeast on James St toward 5th Ave.","turnType":0,"startPoint":{"lng":-122.330276,"lat":47.60323},"index":0,"formattedTime":"00:00:18","directionName":"Northeast","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAP_KEY>&size=225,160&locations=47.60322952270508,-122.33027648925781|marker-1||47.604026794433594,-122.3283920288086|marker-2||&center=47.603628158569336,-122.3293342590332&defaultMarker=none&zoom=14&rand=1328497734&session=600611ff-02d1-5f21-02b4-3305-0612945562af","transportMode":"AUTO","attributes":0,"time":18,"iconUrl":"http://content.mqcdn.com/mqsite/turnsigns/icon-dirs-start_sm.gif","direction":3},{"distance":0.095,"streets":["6th
        Ave"],"narrative":"Turn right onto 6th Ave.","turnType":2,"startPoint":{"lng":-122.328392,"lat":47.604027},"index":1,"formattedTime":"00:00:17","directionName":"Southeast","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAP_KEY>&size=225,160&locations=47.604026794433594,-122.3283920288086|marker-2||47.603111267089844,-122.3271255493164|marker-3||&center=47.60356903076172,-122.3277587890625&defaultMarker=none&zoom=14&rand=1328497734&session=600611ff-02d1-5f21-02b4-3305-0612945562af","transportMode":"AUTO","attributes":0,"time":17,"iconUrl":"http://content.mqcdn.com/mqsite/turnsigns/rs_right_sm.gif","direction":5},{"distance":108.692,"streets":["I-90
        E"],"narrative":"Merge onto I-90 E toward Portland/Spokane/Bellevue/Tacoma.","turnType":10,"startPoint":{"lng":-122.327126,"lat":47.603111},"index":2,"formattedTime":"01:37:21","directionName":"East","maneuverNotes":[],"linkIds":[],"signs":[{"extraText":"","text":"90","type":1,"url":"http://icons.mqcdn.com/icons/rs1.png?n=90&d=EAST","direction":8}],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAP_KEY>&size=225,160&locations=47.603111267089844,-122.3271255493164|marker-3||46.97019958496094,-120.52088165283203|marker-4||&center=47.28665542602539,-121.42400360107422&defaultMarker=none&zoom=4&rand=1328497734&session=600611ff-02d1-5f21-02b4-3305-0612945562af","transportMode":"AUTO","attributes":3200,"time":5841,"iconUrl":"http://content.mqcdn.com/mqsite/turnsigns/r[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_KEY>&lat=39.738453&lon=-104.984856
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1611010560,"sunrise":1610979458,"sunset":1611014575,"temp":275.74,"feels_like":268.52,"pressure":1014,"humidity":34,"dew_point":262.73,"uvi":0.16,"clouds":24,"visibility":10000,"wind_speed":5.78,"wind_deg":326,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"minutely":[{"dt":1611010560,"precipitation":0},{"dt":1611010620,"precipitation":0},{"dt":1611010680,"precipitation":0},{"dt":1611010740,"precipitation":0},{"dt":1611010800,"precipitation":0},{"dt":1611010860,"precipitation":0},{"dt":1611010920,"precipitation":0},{"dt":1611010980,"precipitation":0},{"dt":1611011040,"precipitation":0},{"dt":1611011100,"precipitation":0},{"dt":1611011160,"precipitation":0},{"dt":1611011220,"precipitation":0},{"dt":1611011280,"precipitation":0},{"dt":1611011340,"precipitation":0},{"dt":1611011400,"precipitati[...]
