---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_KEY>&lat=47.6032&lon=-122.3303
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":47.6032,"lon":-122.3303,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1610930092,"sunrise":1610898661,"sunset":1610930861,"temp":282.05,"feels_like":280.59,"pressure":1033,"humidity":81,"dew_point":278.97,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":0.72,"wind_deg":40,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"minutely":[{"dt":1610930100,"precipitation":0},{"dt":1610930160,"precipitation":0},{"dt":1610930220,"precipitation":0},{"dt":1610930280,"precipitation":0},{"dt":1610930340,"precipitation":0},{"dt":1610930400,"precipitation":0},{"dt":1610930460,"precipitation":0},{"dt":1610930520,"precipitation":0},{"dt":1610930580,"precipitation":0},{"dt":1610930640,"precipitation":0},{"dt":1610930700,"precipitation":0},{"dt":1610930760,"precipitation":0},{"dt":1610930820,"precipitation":0},{"dt":1610930880,"precipitation":0},{"dt":1610930940,"precipitati[...]
