---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?query=Seattle,%20WA%20city
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID r9Yzfl_aEa2veOqIycx5tuti2j_91mtgTmonfBWk9Qw
      Accept-Version:
      - v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?page=1000&query=Seattle%2C+WA+city>;
        rel="last", <https://api.unsplash.com/search/photos?page=2&query=Seattle%2C+WA+city>;
        rel="next"
      X-Total:
      - '10000'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: UTF-8
      string: "{\"total\":10000,\"total_pages\":1000,\"results\":[{\"id\":\"QEob0Fp4rdg\",\"created_at\":\"2015-07-31T23:53:07-04:00\",\"updated_at\":\"2021-01-19T23:00:15-05:00\",\"promoted_at\":\"2015-07-31T23:53:07-04:00\",\"width\":5125,\"height\":2874,\"color\":\"#a6a6d9\",\"blur_hash\":\"LvB|XK%3WAj]-@xuada}SibIj@ay\",\"description\":null,\"alt_description\":\"city
        buildings during night time\",\"urls\":{\"raw\":\"https://images.unsplash.com/photo-1438401171849-74ac270044ee?ixid=MXwxOTkxNzJ8MHwxfHNlYXJjaHwxfHxTZWF0dGxlLCUyMFdBJTIwY2l0eXxlbnwwfHx8\\u0026ixlib=rb-1.2.1\",\"full\":\"https://images.unsplash.com/photo-1438401171849-74ac270044ee?crop=entropy\\u0026cs=srgb\\u0026fm=jpg\\u0026ixid=MXwxOTkxNzJ8MHwxfHNlYXJjaHwxfHxTZWF0dGxlLCUyMFdBJTIwY2l0eXxlbnwwfHx8\\u0026ixlib=rb-1.2.1\\u0026q=85\",\"regular\":\"https://images.unsplash.com/photo-1438401171849-74ac270044ee?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=MXwxOTkxNzJ8MHwxfHNlYXJjaHwxfHxTZWF0dGxlLCUyMFdBJTIwY2l0eXxlbnwwfHx8\\u0026ixlib=rb-1.2.1\\u0026q=80\\u0026w=1080\",\"small\":\"https://images.unsplash.com/photo-1438401171849-74ac270044ee?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=MXwxOTkxNzJ8MHwxfHNlYXJjaHwxfHxTZWF0dGxlLCUyMFdBJTIwY2l0eXxlbnwwfHx8\\u0026ixlib=rb-1.2.1\\u0026q=80\\u0026w=400\",\"thumb\":\"https://images.unsplash.com/photo-1438401171849-74ac270044ee?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=MXwxOTkxNzJ8MHwxfHNlYXJjaHwxfHxTZWF0dGxlLCUyMFdBJTIwY2l0eXxlbnwwfHx8\\u0026ixlib=rb-1.2.1\\u0026q=80\\u0026w=200\"},\"links\":{\"self\":\"https://api.unsplash.com/photos/QEob0Fp4rdg\",\"html\":\"https://unsplash.com/photos/QEob0Fp4rdg\",\"download\":\"https://unsplash.com/photos/QEob0Fp4rdg/download\",\"download_location\":\"https://api.unsplash.com/photos/QEob0Fp4rdg/download\"},\"categories\":[],\"likes\":172,\"liked_by_user\":false,\"current_user_collections\":[],\"sponsorship\":null,\"user\":{\"id\":\"R2qFunrfk1k\",\"updated_at\":\"2021-01-19T17:56:51-05:00\",\"username\":\"phoebezzf\",\"name\":\"Zhifei
        Zhou\",\"first_name\":\"Zhifei\",\"last_name\":\"Zhou\",\"twitter_username\":null,\"portfolio_url\":null,\"bio\":null,\"location\":null,\"links\":{\"self\":\"https://api.unsplash.com/users/phoebezzf\",\"html\":\"https://unsplash.com/@phoebezzf\",\"photos\":\"https://api.unsplash.com/users/phoebezzf/photos\",\"likes\":\"https://api.unsplash.com/users/phoebezzf/likes\",\"portfolio\":\"https://api.unsplash.com/users/phoebezzf/portfolio\",\"following\":\"https://api.unsplash.com/users/phoebezzf/following\",\"followers\":\"https://api.unsplash.com/users/phoebezzf/followers\"},\"profile_image\":{\"small\":\"https://images.unsplash.com/placeholder-avatars/extra-large.jpg?ixlib=rb-1.2.1\\u0026q=80\\u0026fm=jpg\\u0026crop=faces\\u0026cs=tinysrgb\\u0026fit=crop\\u0026h=32\\u0026w=32\",\"medium\":\"https://images.unsplash.com/placeholder-avatars/extra-large.jpg?ixlib=rb-1.2.1\\u0026q=80\\u0026fm=jpg\\u0026crop=faces\\u0026cs=tinysrgb\\u0026fit=crop\\u0026h=64\\u0026w=64\",\"large\":\"https://images.unsplash.com/placeholder-avatars/extra-large.jpg?ixlib=rb-1.2.1\\u0026q=80\\u0026fm=jpg\\u0026crop=faces\\u0026cs=tinysrgb\\u0026fit=crop\\u0026h=128\\u0026w=128\"},\"instagram_username\":null,\"total_collections\":0,\"total_likes\":31,\"total_photos\":113,\"accepted_tos\":true},\"tags\":[{\"type\":\"search\",\"title\":\"seattle\"},{\"type\":\"landing_page\",\"title\":\"city\",\"source\":{\"ancestry\":{\"type\":{\"slug\":\"wallpapers\",\"pretty_slug\":\"HD
        Wallpapers\"},\"category\":{\"slug\":\"travel\",\"pretty_slug\":\"Travel\"},\"subcategory\":{\"slug\":\"city\",\"pretty_slug\":\"City\"}},\"title\":\"HD
        City Wallpapers\",\"subtitle\":\"Download Free City Wallpapers\",\"description\":\"Choose
        from a curated selection of city wallpapers for your mobile and desktop screens.
        Always free on Unsplash.\",\"meta_title\":\"City Wallpapers: Free HD Download
        [500+ HQ] | Unsplash\",\"meta_description\":\"Choose from hundreds of free
        city wallpapers. Download HD wallpapers for free on Unsplash.\",\"cover_photo\":{\"id\":\"Nyvq2juw4_o\",\"created_at\":\"2016-10-31T20:26:28-04:00\",\"updated_at\":\"2021-01-19T10:01:10-05:00\",\"promoted_at\":\"2016-10-31T20:26:28-04:00\",\"width\":3465,\"height\":2131,\"color\":\"#0c2640\",\"blur_hash\":\"LhEMa,W=WVWW_4kBjtW=?bkBaefR\",\"description\":\"City
        architecture and skyscrapers near waterfront\",\"alt_description\":\"white
        and brown city buildings during daytime\",\"urls\":{\"raw\":\"https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixl[...]
