---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/directions/v2/route?from=Denver,%20CO&key=<MAP_KEY>&to=Pueblo,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Tue, 19 Jan 2021 17:43:50 GMT
      Status:
      - success
      Transactionweight:
      - '1'
    body:
      encoding: UTF-8
      string: '{"route":{"hasTollRoad":false,"hasBridge":true,"boundingBox":{"lr":{"lng":-104.605087,"lat":38.265427},"ul":{"lng":-104.98761,"lat":39.738453}},"distance":111.38,"hasTimedRestriction":false,"hasTunnel":false,"hasHighway":true,"computedWaypoints":[],"routeError":{"errorCode":-400,"message":""},"formattedTime":"01:44:22","sessionId":"60071a56-01c6-5f21-02b4-3337-0a93d48cb9cb","hasAccessRestriction":false,"realTime":6618,"hasSeasonalClosure":false,"hasCountryCross":false,"fuelUsed":5.5,"legs":[{"hasTollRoad":false,"hasBridge":true,"destNarrative":"Proceed
        to PUEBLO, CO.","distance":111.38,"hasTimedRestriction":false,"hasTunnel":false,"hasHighway":true,"index":0,"formattedTime":"01:44:22","origIndex":2,"hasAccessRestriction":false,"hasSeasonalClosure":false,"hasCountryCross":false,"roadGradeStrategy":[[]],"destIndex":5,"time":6262,"hasUnpaved":false,"origNarrative":"Go
        south on N Broadway.","maneuvers":[{"distance":0.109,"streets":["N Sherman
        St"],"narrative":"Start out going south on N Sherman St toward E 13th Ave.","turnType":0,"startPoint":{"lng":-104.984856,"lat":39.738453},"index":0,"formattedTime":"00:00:33","directionName":"South","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAP_KEY>&size=225,160&locations=39.73845291137695,-104.98485565185547|marker-1||39.73687744140625,-104.9848403930664|marker-2||&center=39.7376651763916,-104.98484802246094&defaultMarker=none&zoom=13&rand=-353453788&session=60071a56-01c6-5f21-02b4-3337-0a93d48cb9cb","transportMode":"AUTO","attributes":0,"time":33,"iconUrl":"http://content.mqcdn.com/mqsite/turnsigns/icon-dirs-start_sm.gif","direction":4},{"distance":0.135,"streets":["E
        13th Ave"],"narrative":"Turn right onto E 13th Ave.","turnType":2,"startPoint":{"lng":-104.98484,"lat":39.736877},"index":1,"formattedTime":"00:00:22","directionName":"West","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAP_KEY>&size=225,160&locations=39.73687744140625,-104.9848403930664|marker-2||39.73686981201172,-104.98737335205078|marker-3||&center=39.736873626708984,-104.9861068725586&defaultM[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_KEY>&lat=38.265427&lon=-104.610413
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6104,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1611078230,"sunrise":1611065519,"sunset":1611101172,"temp":272.24,"feels_like":268.31,"pressure":1032,"humidity":80,"dew_point":269.58,"uvi":1.8,"clouds":75,"visibility":10000,"wind_speed":2.06,"wind_deg":240,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1611078240,"precipitation":0},{"dt":1611078300,"precipitation":0},{"dt":1611078360,"precipitation":0},{"dt":1611078420,"precipitation":0},{"dt":1611078480,"precipitation":0},{"dt":1611078540,"precipitation":0},{"dt":1611078600,"precipitation":0},{"dt":1611078660,"precipitation":0},{"dt":1611078720,"precipitation":0},{"dt":1611078780,"precipitation":0},{"dt":1611078840,"precipitation":0},{"dt":1611078900,"precipitation":0},{"dt":1611078960,"precipitation":0},{"dt":1611079020,"precipitation":0},{"dt":1611079080,"precipitati[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=Pueblo,%20CO&open_at=1611059122&term=tacos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4975'
      X-Zipkin-Id:
      - 9e3d2cd7b216bb5d
      Ratelimit-Resettime:
      - '2021-01-20T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--uswest2-5b584d59bc-nfkm9; site=public_api_v3
      X-Proxied:
      - 10-69-95-86-uswest2aprod
      X-Extlb:
      - 10-69-95-86-uswest2aprod
    body:
      encoding: UTF-8
      string: '{"businesses": [{"id": "3Edd-08gz7auXvqqM-4Dwg", "alias": "vazquez-taco-shop-pueblo",
        "name": "Vazquez Taco Shop", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/lyudLzs92SPt-UFVDqd1rA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/vazquez-taco-shop-pueblo?adjust_creative=<YELP_CLIENT_ID>&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=<YELP_CLIENT_ID>",
        "review_count": 33, "categories": [{"alias": "mexican", "title": "Mexican"}],
        "rating": 4.5, "coordinates": {"latitude": 38.2707358, "longitude": -104.599503},
        "transactions": ["delivery"], "price": "$", "location": {"address1": "604
        E 4th St", "address2": null, "address3": null, "city": "Pueblo", "zip_code":
        "81001", "country": "US", "state": "CO", "display_address": ["604 E 4th St",
        "Pueblo, CO 81001"]}, "phone": "+17195462186", "display_phone": "(719) 546-2186",
        "distance": 2284.522971886835}, {"id": "i0uPdJ-Gv153FQNes5p6UQ", "alias":
        "taco-stop-pueblo-2", "name": "Taco Stop", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/-zp5FDCKnn7Sm2X04uKxSg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/taco-stop-pueblo-2?adjust_creative=<YELP_CLIENT_ID>&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=<YELP_CLIENT_ID>",
        "review_count": 39, "categories": [{"alias": "mexican[...]
