---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=Pueblo,%20CO&term=tacos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4997'
      X-Zipkin-Id:
      - ba5ddbdf385770a9
      Ratelimit-Resettime:
      - '2021-01-20T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--uswest2-5b584d59bc-bdz29; site=public_api_v3
      X-Proxied:
      - 10-69-127-167-uswest2aprod
      X-Extlb:
      - 10-69-127-167-uswest2aprod
    body:
      encoding: UTF-8
      string: '{"businesses": [{"id": "hzVSW5zEzkLNPvCY5QjYag", "alias": "tacos-navarro-pueblo",
        "name": "Tacos Navarro", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/wc6GBBKPo4_3vKgObAuSLA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/tacos-navarro-pueblo?adjust_creative=<YELP_CLIENT_ID>&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=<YELP_CLIENT_ID>",
        "review_count": 116, "categories": [{"alias": "mexican", "title": "Mexican"}],
        "rating": 4.5, "coordinates": {"latitude": 38.244251452554, "longitude": -104.609048031271},
        "transactions": ["delivery", "pickup"], "price": "$", "location": {"address1":
        "223 E Northern Ave", "address2": null, "address3": null, "city": "Pueblo",
        "zip_code": "81006", "country": "US", "state": "CO", "display_address": ["223
        E Northern Ave", "Pueblo, CO 81006"]}, "phone": "+17195466280", "display_phone":
        "(719) 546-6280", "distance": 4258.024047789065}, {"id": "NM5ZdtUb8xfRIsHdenbhLg",
        "alias": "taqueria-marquez-pueblo", "name": "Taqueria Marquez", "image_url":
        "https://s3-media2.fl.yelpcdn.com/bphoto/MIWZGMPIMEb8EX2ZrGjcwA/o.jpg", "is_closed":
        false, "url": "https://www.yelp.com/biz/taqueria-marquez-pueblo?adjust_creative=<YELP_CLIENT_ID>&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=<YELP_CLIENT_ID>",
        "review_count": 23, "categories": [{"alias": "mexican", "title": "[...]
