---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/directions/v2/route?from=Denver,%20CO&key=<MAP_KEY>&to=Pueblo,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Tue, 19 Jan 2021 17:14:55 GMT
      Status:
      - success
      Transactionweight:
      - '1'
    body:
      encoding: UTF-8
      string: '{"route":{"hasTollRoad":false,"hasBridge":true,"boundingBox":{"lr":{"lng":-104.605087,"lat":38.265427},"ul":{"lng":-104.98761,"lat":39.738453}},"distance":111.38,"hasTimedRestriction":false,"hasTunnel":false,"hasHighway":true,"computedWaypoints":[],"routeError":{"errorCode":-400,"message":""},"formattedTime":"01:44:22","sessionId":"6007138f-000e-5f21-02b4-3332-02f8ddb7cd0f","hasAccessRestriction":false,"realTime":6696,"hasSeasonalClosure":false,"hasCountryCross":false,"fuelUsed":5.5,"legs":[{"hasTollRoad":false,"hasBridge":true,"destNarrative":"Proceed
        to PUEBLO, CO.","distance":111.38,"hasTimedRestriction":false,"hasTunnel":false,"hasHighway":true,"index":0,"formattedTime":"01:44:22","origIndex":2,"hasAccessRestriction":false,"hasSeasonalClosure":false,"hasCountryCross":false,"roadGradeStrategy":[[]],"destIndex":5,"time":6262,"hasUnpaved":false,"origNarrative":"Go
        south on N Broadway.","maneuvers":[{"distance":0.109,"streets":["N Sherman
        St"],"narrative":"Start out going south on N Sherman St toward E 13th Ave.","turnType":0,"startPoint":{"lng":-104.984856,"lat":39.738453},"index":0,"formattedTime":"00:00:33","directionName":"South","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAP_KEY>&size=225,160&locations=39.73845291137695,-104.98485565185547|marker-1||39.73687744140625,-104.9848403930664|marker-2||&center=39.7376651763916,-104.98484802246094&defaultMarker=none&zoom=13&rand=-48644003&session=6007138f-000e-5f21-02b4-3332-02f8ddb7cd0f","transportMode":"AUTO","attributes":0,"time":33,"iconUrl":"http://content.mqcdn.com/mqsite/turnsigns/icon-dirs-start_sm.gif","direction":4},{"distance":0.135,"streets":["E
        13th Ave"],"narrative":"Turn right onto E 13th Ave.","turnType":2,"startPoint":{"lng":-104.98484,"lat":39.736877},"index":1,"formattedTime":"00:00:22","directionName":"West","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAP_KEY>&size=225,160&locations=39.73687744140625,-104.9848403930664|marker-2||39.73686981201172,-104.98737335205078|marker-3||&center=39.736873626708984,-104.9861068725586&defaultM[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_KEY>&lat=38.265427&lon=-104.610413
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6104,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1611076495,"sunrise":1611065519,"sunset":1611101172,"temp":271.39,"feels_like":267.36,"pressure":1032,"humidity":80,"dew_point":268.74,"uvi":1.2,"clouds":75,"visibility":10000,"wind_speed":2.06,"wind_deg":240,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1611076500,"precipitation":0},{"dt":1611076560,"precipitation":0},{"dt":1611076620,"precipitation":0},{"dt":1611076680,"precipitation":0},{"dt":1611076740,"precipitation":0},{"dt":1611076800,"precipitation":0},{"dt":1611076860,"precipitation":0},{"dt":1611076920,"precipitation":0},{"dt":1611076980,"precipitation":0},{"dt":1611077040,"precipitation":0},{"dt":1611077100,"precipitation":0},{"dt":1611077160,"precipitation":0},{"dt":1611077220,"precipitation":0},{"dt":1611077280,"precipitation":0},{"dt":1611077340,"precipitati[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=Pueblo,%20CO&open_at=1611057557&term=tacos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4989'
      X-Zipkin-Id:
      - c7ee1eb9e075d41a
      Ratelimit-Resettime:
      - '2021-01-20T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--uswest2-5b584d59bc-bdz29; site=public_api_v3
      X-Proxied:
      - 10-69-70-199-uswest2aprod
      X-Extlb:
      - 10-69-70-199-uswest2aprod
    body:
      encoding: UTF-8
      string: '{"businesses": [{"id": "tdElALt8TB5hazJiXbe03g", "alias": "julian-s-taco-shop-ca\u00f1on-city",
        "name": "Julian\u2019s Taco Shop", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/e68IBMCbl6_RuHyFhzyHiw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/julian-s-taco-shop-ca%C3%B1on-city?adjust_creative=<YELP_CLIENT_ID>&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=<YELP_CLIENT_ID>",
        "review_count": 19, "categories": [{"alias": "mexican", "title": "Mexican"}],
        "rating": 4.5, "coordinates": {"latitude": 38.4415721642124, "longitude":
        -105.238662348535}, "transactions": [], "location": {"address1": "619 Main
        St", "address2": "", "address3": null, "city": "Ca\u00f1on City", "zip_code":
        "81212", "country": "US", "state": "CO", "display_address": ["619 Main St",
        "Ca\u00f1on City, CO 81212"]}, "phone": "+17192754811", "display_phone": "(719)
        275-4811", "distance": 61055.259094614354}, {"id": "br4KIIkTaBndQVZmlOOmZQ",
        "alias": "el-charro-restaurant-pueblo", "name": "El Charro Restaurant", "image_url":
        "https://s3-media1.fl.yelpcdn.com/bphoto/w8B5ND0rRhw_y0-C_LTlfA/o.jpg", "is_closed":
        false, "url": "https://www.yelp.com/biz/el-charro-restaurant-pueblo?adjust_creative=<YELP_CLIENT_ID>&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=<YELP_CLIENT_ID>",
        "review_count":[...]
