---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/directions/v2/route?from=Denver,%20CO&key=<MAP_KEY>&to=Pueblo,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Tue, 19 Jan 2021 17:01:18 GMT
      Status:
      - success
      Transactionweight:
      - '1'
    body:
      encoding: UTF-8
      string: '{"route":{"hasTollRoad":false,"hasBridge":true,"boundingBox":{"lr":{"lng":-104.605087,"lat":38.265427},"ul":{"lng":-104.98761,"lat":39.738453}},"distance":111.38,"hasTimedRestriction":false,"hasTunnel":false,"hasHighway":true,"computedWaypoints":[],"routeError":{"errorCode":-400,"message":""},"formattedTime":"01:44:22","sessionId":"6007105d-03ba-5f21-02b4-3332-02f8ddb7cd0f","hasAccessRestriction":false,"realTime":6677,"hasSeasonalClosure":false,"hasCountryCross":false,"fuelUsed":5.5,"legs":[{"hasTollRoad":false,"hasBridge":true,"destNarrative":"Proceed
        to PUEBLO, CO.","distance":111.38,"hasTimedRestriction":false,"hasTunnel":false,"hasHighway":true,"index":0,"formattedTime":"01:44:22","origIndex":2,"hasAccessRestriction":false,"hasSeasonalClosure":false,"hasCountryCross":false,"roadGradeStrategy":[[]],"destIndex":5,"time":6262,"hasUnpaved":false,"origNarrative":"Go
        south on N Broadway.","maneuvers":[{"distance":0.109,"streets":["N Sherman
        St"],"narrative":"Start out going south on N Sherman St toward E 13th Ave.","turnType":0,"startPoint":{"lng":-104.984856,"lat":39.738453},"index":0,"formattedTime":"00:00:33","directionName":"South","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAP_KEY>&size=225,160&locations=39.73845291137695,-104.98485565185547|marker-1||39.73687744140625,-104.9848403930664|marker-2||&center=39.7376651763916,-104.98484802246094&defaultMarker=none&zoom=13&rand=-1450218540&session=6007105d-03ba-5f21-02b4-3332-02f8ddb7cd0f","transportMode":"AUTO","attributes":0,"time":33,"iconUrl":"http://content.mqcdn.com/mqsite/turnsigns/icon-dirs-start_sm.gif","direction":4},{"distance":0.135,"streets":["E
        13th Ave"],"narrative":"Turn right onto E 13th Ave.","turnType":2,"startPoint":{"lng":-104.98484,"lat":39.736877},"index":1,"formattedTime":"00:00:22","directionName":"West","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAP_KEY>&size=225,160&locations=39.73687744140625,-104.9848403930664|marker-2||39.73686981201172,-104.98737335205078|marker-3||&center=39.736873626708984,-104.9861068725586&defaultM[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_KEY>&lat=38.265427&lon=-104.610413
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6104,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1611075678,"sunrise":1611065519,"sunset":1611101172,"temp":271.16,"feels_like":267.22,"pressure":1031,"humidity":86,"dew_point":269.37,"uvi":1.2,"clouds":90,"visibility":10000,"wind_speed":2.06,"wind_deg":280,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"minutely":[{"dt":1611075720,"precipitation":0},{"dt":1611075780,"precipitation":0},{"dt":1611075840,"precipitation":0},{"dt":1611075900,"precipitation":0},{"dt":1611075960,"precipitation":0},{"dt":1611076020,"precipitation":0},{"dt":1611076080,"precipitation":0},{"dt":1611076140,"precipitation":0},{"dt":1611076200,"precipitation":0},{"dt":1611076260,"precipitation":0},{"dt":1611076320,"precipitation":0},{"dt":1611076380,"precipitation":0},{"dt":1611076440,"precipitation":0},{"dt":1611076500,"precipitation":0},{"dt":1611076560,"precipitati[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=Pueblo,%20CO&term=tacos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4996'
      X-Zipkin-Id:
      - '019f320aa73114b9'
      Ratelimit-Resettime:
      - '2021-01-20T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--uswest2-5b584d59bc-bsjss; site=public_api_v3
      X-Proxied:
      - 10-69-129-238-uswest2bprod
      X-Extlb:
      - 10-69-129-238-uswest2bprod
    body:
      encoding: UTF-8
      string: '{"businesses": [{"id": "hzVSW5zEzkLNPvCY5QjYag", "alias": "tacos-navarro-pueblo",
        "name": "Tacos Navarro", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/wc6GBBKPo4_3vKgObAuSLA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/tacos-navarro-pueblo?adjust_creative=<YELP_CLIENT_ID>&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=<YELP_CLIENT_ID>",
        "review_count": 116, "categories": [{"alias": "mexican", "title": "Mexican"}],
        "rating": 4.5, "coordinates": {"latitude": 38.244251452554, "longitude": -104.609048031271},
        "transactions": ["delivery", "pickup"], "price": "$", "location": {"address1":
        "223 E Northern Ave", "address2": null, "address3": null, "city": "Pueblo",
        "zip_code": "81006", "country": "US", "state": "CO", "display_address": ["223
        E Northern Ave", "Pueblo, CO 81006"]}, "phone": "+17195466280", "display_phone":
        "(719) 546-6280", "distance": 4258.024047789065}, {"id": "NM5ZdtUb8xfRIsHdenbhLg",
        "alias": "taqueria-marquez-pueblo", "name": "Taqueria Marquez", "image_url":
        "https://s3-media2.fl.yelpcdn.com/bphoto/MIWZGMPIMEb8EX2ZrGjcwA/o.jpg", "is_closed":
        false, "url": "https://www.yelp.com/biz/taqueria-marquez-pueblo?adjust_creative=<YELP_CLIENT_ID>&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=<YELP_CLIENT_ID>",
        "review_count": 23, "categor[...]
